body{
  font-family: "Trebuchet MS", sans-serif;
  margin: 20px;
}

span[role="rm"] {
  font-size: smaller;
  cursor: pointer;
  color: #a22;
  margin-left: 5px;
}

div[role="todo_list"] {
  float: left;
  margin: 20px;
  width: 270px;
}

.clearBoth { clear:both; }
